body {
    min-height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr auto;
}

/* .add {
    display: inline-block;
    width: 3rem;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
} */